body {
  font-family: serif;
  text-align: center;
  line-height: 2.5vh;
  font-size: 3vh;
}

h1 {
  font-size: 5vh;
}

table {
  margin: 2vh auto;
}

table#Board {
  width: 50vh;
  height: 50vh;
  border-collapse: collapse;
  border: thick solid;
  font-size: 7vh;
}

table#Board td{
  width: 25%;
  height: 25%;
  border: thin solid;
  line-height: 0;
}

table#Board td[id^="Board-B"]{
  border-right-width: medium;
}

table#Board td[id$="2"]{
  border-bottom-width: medium;
}

td button {
  width: 5vh;
  height: 5vh;
  font-family: serif;
  font-size: 3vh;
  text-align: center;
}

:not(td)>button {
  padding: 1vh 2vh;
  font-family: serif;
  font-size: 3vh;
  text-align: center;
}

table#options {
  line-height: 1.25em;
}

table#options tr td:first-child {
  text-align: right;
}

table#options tr td:last-child {
  text-align: left;
}